<!--<div class="container" th:fragment="addAccount">-->
<!--    <div class="row">-->
<!--        <div class="col-md-8 mx-auto rounded border p-4 m-4">-->
<!--            <h1> Thêm Người dùng</h1>-->
<!--            <form method="POST" enctype="multipart/form-data" id="submit-account" th:object="${accountDto}" th:action="@{/admin/account/add}">-->
<!--                <div th:if="${errorSession}" class="alert alert-danger" th:text="${errorSession}"></div>-->

<!--                <div class=" row mb-3 form-group">-->
<!--                    <label class="col-sm-4 col-form-label">Tên người dùng</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <input type="text" class="form-control" name="username" placeholder="Nhap username..." th:field="*{username}">-->
<!--                        <div th:if="${errorUsername}" class="alert alert-danger" th:text="${errorUsername}"></div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row mb-3 form-group">-->
<!--                    <label class="col-sm-4 col-form-label">Email</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <input type="email" class="form-control" name="email" placeholder="Nhap email..." th:field="*{email}">-->
<!--                        <div th:if="${errorEmail}" class="alert alert-danger" th:text="${errorEmail}"></div>-->

<!--                        &lt;!&ndash;                        <p th:if="${#fields.hasErrors('price')}" th:errorclass="text-danger" th:errors="${productDto.price}"></p>&ndash;&gt;-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row mb-3 form-group">-->
<!--                    <label  class="col-sm-4 col-form-label">Password</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <input type="password" id="password" class="form-control"name="password" placeholder="" th:field="*{password}">-->
<!--                        &lt;!&ndash;                        <p th:if="${#fields.hasErrors('quantity')}" th:errorclass="text-danger" th:errors="${productDto.quantity}"></p>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="row mb-3 form-group">-->
<!--                    <label  class="col-sm-4 col-form-label">RePassword</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <input type="password" id="rePassword" class="form-control" name="rePassword" placeholder="" >-->
<!--                            <p class="text-danger error-password"></p>-->
<!--                            &lt;!&ndash;                        <p th:if="${#fields.hasErrors('quantity')}" th:errorclass="text-danger" th:errors="${productDto.quantity}"></p>&ndash;&gt;-->
<!--                        </div>-->

<!--                </div>-->
<!--&lt;!&ndash;                <div class="row mb-3 form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label class="col-sm-4 col-form-label"> Ảnh </label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-sm-8">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="file" class="form-control"  name="imageFile" placeholder="" th:field="*{imageFile}">&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash;                        <p th:if="${#fields.hasErrors('imageFile')}" th:errorclass="text-danger" th:errors="${productDto.imageFile}"></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--                <div class="row">-->
<!--                    <div class="offset-sm-4 col-sm-4 d-grid">-->
<!--                        <button type="button" id="btnSave" class="btn btn-primary">Submit</button>-->
<!--                    </div>-->
<!--                    <div class="col-sm-4 d-grid">-->
<!--                        <a href="/admin/product" role="button"  class="btn btn-outline-primary">Cancel</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script>-->
<!--    $(document).ready(function(){-->
<!--        $("#btnSave").click(function () {-->
<!--            let password = $("#password").val();-->
<!--            let rePassword = $("#rePassword").val();-->
<!--            let submitAccount = $("#submit-account");-->
<!--            let errorPassword = $(".error-password");-->
<!--            errorPassword.hide();-->

<!--            if (password === "") {-->
<!--                errorPassword.html("Password không được để trống.");-->
<!--                errorPassword.show();-->
<!--                return;-->
<!--            }-->

<!--            if (password === rePassword) {-->
<!--                alert("Mật khẩu chính xác");-->
<!--                submitAccount.submit();-->
<!--            } else {-->
<!--                errorPassword.html("Nhập lại password không hợp lệ!!!");-->
<!--                errorPassword.show();-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->


<div class="container" th:fragment="addAccount">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h1> Thêm Người dùng</h1>
            <form method="POST" enctype="multipart/form-data" id="submit-account" th:object="${accountDto}" th:action="@{/admin/account/add}">
                <div th:if="${errorSession}" class="alert alert-danger" th:text="${errorSession}"></div>

                <div class="row mb-3 form-group">
                    <label class="col-sm-4 col-form-label">Tên người dùng</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="username" placeholder="Nhập username..." th:field="*{username}">
                        <div th:if="${errorUsername}" class="alert alert-danger" th:text="${errorUsername}"></div>
                        <div id="errorUsername" class="text-danger"  ></div>
                    </div>
                </div>
                <div class="row mb-3 form-group">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" name="email" placeholder="Nhập email..." th:field="*{email}">
                        <div th:if="${errorEmail}" class="alert alert-danger" th:text="${errorEmail}"></div>
                        <div id="errorEmail" class="text-danger"  ></div>

                    </div>
                </div>
                <div class="row mb-3 form-group">
                    <label class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" id="password" class="form-control" name="password" placeholder="" th:field="*{password}">
                        <p class="text-danger errorPassword"></p>

                    </div>
                </div>
                <div class="row mb-3 form-group">
                    <label class="col-sm-4 col-form-label">RePassword</label>
                    <div class="col-sm-8">
                        <input type="password" id="rePassword" class="form-control" name="rePassword" placeholder="">
                        <p class="text-danger errorRePassword"></p>
                    </div>
                </div>
                <!--
                <div class="row mb-3 form-group">
                    <label class="col-sm-4 col-form-label">Ảnh</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" name="imageFile" placeholder="" th:field="*{imageFile}">
                    </div>
                </div>
                -->
                <div class="row">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="button" id="btnSave" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a href="/admin/product" role="button" class="btn btn-outline-primary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#btnSave").click(function () {
                let username = $("input[name='username']").val();
                let email = $("input[name='email']").val();
                let password = $("#password").val();
                let rePassword = $("#rePassword").val();
                let submitAccount = $("#submit-account");
                let errorPassword = $(".errorPassword");
                let errorRePassword = $(".errorRePassword");
                let errorUsername = $("#errorUsername");
                let errorEmail = $("#errorEmail");
                let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                let strongPasswordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

                console.log("username: " + username);

                errorPassword.hide();
                errorRePassword.hide();
                errorUsername.hide();
                errorEmail.hide();


                if (username == "") {
                    errorUsername.html("Username không được để trống.");
                    errorUsername.show();
                    return;
                }

                if (email === "") {
                    errorEmail.html("Email không được để trống.");
                    errorEmail.show();

                    return;
                }

                if (!emailPattern.test(email)) {
                    errorEmail.html("Email không hợp lệ.");
                    errorEmail.show();
                    return;
                }


                if (password === "") {
                    errorPassword.html("Password không được để trống.");
                    errorPassword.show();
                    return;
                }

                if (password.length < 8) {
                    errorPassword.html("Password phải có ít nhất 8 ký tự.");
                    errorPassword.show();
                    return;
                }

                if (!strongPasswordPattern.test(password)) {
                    errorPassword.html("Password phải bao gồm ít nhất một chữ hoa, một chữ thường, một số và một ký tự đặc biệt.");
                    errorPassword.show();
                    return;
                }

                if (password !== rePassword) {
                    errorRePassword.html("Nhập lại password không hợp lệ!!!");
                    errorRePassword.show();
                    return;
                }

                // alert("Mật khẩu chính xác");
                submitAccount.submit();
            });
        });
    </script>
</div>


