<div class="container" th:fragment="authEmail">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h1> Thêm Người dùng</h1>
            <form method="POST" enctype="multipart/form-data" th:object="${accountDto}" id="submit-account" th:action="@{/admin/account/addAccount}">
<!--                <input type="hidden" name="verificationCode" th:value="${verificationCode}" />-->
<!--                <input type="hidden" name="username" th:value="${accountDto.username}" />-->
<!--                <input type="hidden" name="email" th:value="${accountDto.email}" />-->
<!--                <input type="hidden" name="password" th:value="${accountDto.password}" />-->
<!--&lt;!&ndash;                <input  name="accountDto" th:value="${accountDto}">&ndash;&gt;-->
<!--                <input  name="account" th:value="${account.username}">-->
<!--                <input  name="account" th:value="${account.email}">-->
<!--                <input  name="account" th:value="${account.password}">-->

                <div class=" row mb-3 form-group">
                    <label class="col-sm-4 col-form-label">Nhap ma xac nhan gom 4 so</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="enteredCode" placeholder="Nhập mã xác nhận..." required />
                    </div>
                </div>

                <div class="row">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" id="btnSave" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a href="/admin/product" role="button"  class="btn btn-outline-primary">Cancel</a>
                    </div>
                </div>
                <div th:if="${errorVerificationCode}" class="alert alert-danger" th:text="${errorVerificationCode}"></div>
            </form>
        </div>
    </div>
</div>

