<div th:fragment="adminCancelOrderList">
    <h4> List Order </h4>

    <div class="row d-flex justify-content-between">
        <a class="col-3 btn btn-primary m-3" href="/admin/order">Quay lại </a>
<!--        <a class="col-3 btn btn-warning m-3" href="/admin/order/cancelOrder">Đơn bị hủy</a>-->
    </div>


    <table class="table table-bordered ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nguoi nhan</th>
            <th>So dien thoai</th>
            <th>Dia chi</th>
            <th>San pham trong don</th>
            <th>Tong tien don hang</th>
            <th>Ghi chu</th>
            <th>Trang thai</th>
            <th>Thoi gian tạo</th>
            <th>Thoi gian cập nhật</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="obj : ${orders}">
            <td th:text="${obj.id}">id</td>
            <td th:text="${obj.account.fullName}">fullname</td>
            <td th:text="${obj.account.phone}">phone</td>
            <td th:text="${obj.account.address}">address</td>
            <td>
                <ul th:if="${obj.cartItems != null}">
                    <li th:each="item : ${obj.cartItems}">
                        <span  th:text="${item.product.productName}"></span>
                        <span>: (Sl) </span>
                        <span th:text="${item.quantity}"></span>
                    </li>
                </ul>
                <span th:if="${obj.cartItems == null}">No items</span>
            </td>
            <td class="price" th:text="${obj.totalPrice}"></td>
            <td th:text="${obj.note}">note</td>
            <td th:text="${obj.orderStatus}">status</td>
            <td th:text="${obj.createdAt}">status</td>
            <td th:text="${obj.updatedAt}">status</td>

        </tr>
        </tbody>
    </table>
</div>